{% extends 'base.html' %}
{% block content %}
    <div class="flex flex-col justify-center items-center h-[100vh] text-center">
        <form method="POST">
            <h3 class="text-2xl">Entrar a la sala</h3>
            <div>
                <label>Name:</label>
                <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" placeholder="Escribe un nombre" name="name" value="{{name}}">
            </div>
            <div class="join">
                <input class="border mt-2 border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" placeholder="Codigo de sala" name="code" value="{{code}}">
            </div>
            <button class="w-full mt-2 rounded-lg bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700" type="submit" name="join" class="join">Entrar</button>

            <button class="w-full rounded-lg bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700" type="submit" name="create" >Crear una sala</button>
            {% if error %}
                <ul>
                    <li>{{error}}</li>
                </ul>
            {% endif %}
        </form>
    </div>

{% endblock %}